body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
}

h4{
    color: #141b41;
    font-weight: bold;
}
h5{
    color: #141b41;
}


/* Header */
.HeaderBgColor{
    background-color: #fff1db;
}
.Heading_Line{
    font-size: 50px;
    font-weight: bold;
}
.Heading_Button{
    margin-bottom: 10%;
}


/* 1st Section */

.Product_Card_Sec1{
    border-radius: 2%;
    box-shadow: 0px -1px 10px 5px #d8d8d8bf;
}
.Product_Img{
    background-color: #e4e4e4; 
    width: 85%; 
    border-radius:1%;  
    margin: 2% ;
    margin-left: 7%;
    box-shadow: 0px -1px 10px 5px #e0e0e0bf;
}

/* 2nd Section */
.Product_Card_Sec2{
    border-radius: 2%;
    box-shadow: 0px -1px 10px 5px #eeeeee5d; 
    border-color: #ffffff;
}


/* 3rd Section */
.Last_ScetionImg{
    width:100%;
    height: 100%;
}

.Product_Card_Sec3{
    border-radius: 2%;
    box-shadow: 0px -1px 10px 5px #eeeeee5d; 
    border-color: #ffffff; 
}
.third_Sec{
    margin-bottom: 11%;
}


/* Footer */

.footer{
    

   
}